body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Livvic', sans-serif !important;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  .navbar-toggler:hover {
    text-decoration: none;

}

button:focus:not(:focus-visible) {
    outline: 0;
    background-color: #ffaa42;
}

.btn:hover {
    background-color: #ffaa42;
}

a {
    color:black !important;
}