{% extends 'base.html' %} 
{% block content %}
<h1>About Health Hive</h1>
<hr />
<h5>
  Welcome to HealthHive! This is a social network that focuses on promoting
  overall health and wellness, such as healthy eating, exercise, and mental
  health. This could allow users to connect with others who share their interest
  in living a healthy lifestyle, share tips and advice, and support each other
  in achieving their goals.
</h5>
<h5>
  <strong>"Newsfeed"</strong> is a page where users can stay updated on the latest news and share their own posts. It displays a chronological list of posts with user information, including usernames and profile pictures, along with post titles, content, and posting dates. Users can create posts, like or unlike them, and leave comments to engage in discussions. The NewsFeed aims to foster a community where users can share, interact, and stay informed.

</h5>
<h5>Once you log in, there is a <strong>"Resources"</strong> page with a food calorie counter. The <strong>"Food Calorie Counter"</strong> is a user-friendly tool that provides calorie information for various foods, helping users make informed decisions about their food choices and track their calorie intake. It also suggests physical activities required to burn the calories consumed, promoting a balanced approach to managing calorie intake and encouraging an active lifestyle. With its comprehensive features, the Food Calorie Counter empowers users to monitor their calorie intake, make healthier choices, and adopt a more balanced and active lifestyle.
  </h5>
<h5>
  The <strong>"My Profile"</strong> page showcases the user's information, including their profile picture, username, name, email, date of birth, and bio. It also displays the user's posts, with details such as the author, date, title, and content. Users can like/unlike posts, add comments, and view existing comments. The page includes a toggle feature to show/hide the comment form for each post.
</h5>
<h5>In the navigation bar, there is a dropdown menu labeled <strong>"Profile"</strong> with options like "My Profile," "Edit Profile," "Edit Settings," and "Change Password." Users can click on these options to access different profile-related functionalities and make necessary changes. It provides a user-friendly interface for managing and updating user profiles.</h5>
{% endblock %}
