{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image" href="https://i.imgur.com/36scT7Q.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.bundle.min.js"></script> 
    <!-- Add the following below --->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>


    
    <title>Health Hive</title>
</head>
<body style="padding-bottom: 30px;">
  <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-right p-0" style="background-color: #ffaa42; z-index:9999">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="{% url 'home' %}">
        <img src="https://i.imgur.com/36scT7Q.png" alt="Bootstrap" width="30" height="30">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-fixed-top navbar-collapse justify-content-end p-0" style="background-color: #ffaa42" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link active text-white " aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="{% url 'about' %}">About</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item text-white">
            <a class="nav-link text-white" href="{% url 'posts_index' %}">NewsFeed</a>
          </li>
          <li class="nav-item text-white">
            <a class="nav-link text-white" href="{% url 'food_calorie_counter' %}">Resources</a>
          </li>
          <li class="nav-item text-white">
            <a class="nav-link text-white" href="{% url 'profile_index' %}">My Profile</a>
          </li>                
          <li class="nav-item text-white">
            <a class="nav-link text-white" href="{% url 'logout' %}">Log Out</a>
          </li>
          {% else %}
          <li class="nav-item dropdown">
            <a class="nav-link text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuButton">
              Login/Register
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
              <li><a class="dropdown-item" href="{% url 'signup' %}">Register</a></li>
            </ul>
          </li>
          
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

      <main class="container" style="padding-bottom: 30px; padding-top:30px">
        {% block content %}
        {% endblock %}
      </main>

</body>

    <script src="//localhost:35729/livereload.js"></script> 
</html>
      <footer class="text-center text-white fixed-bottom" style="background-color: #ffaa42">
        <div >All Rights Reserved, &copy; 2023 HealthHive &nbsp;</div>
      </footer>


