{% extends 'base.html' %}
{% block content %}
<div class="card">
<h1 class="text-center">Post Details</h1>
</div>
    <div class="card border-warning">
      <div class="card-content row">
        <div class="col-11">

          <div class="row">
            {% if post.user.profile.profile_pic %}
            <img class="col-1 img-fluid p-0 rounded-circle border border-2 border-warning" src="{{ post.user.profile.profile_pic }}" />
              {% else %}
              <img class="col-1 img-fluid p-0 rounded-circle border border-2 border-warning" src="https://i.imgur.com/0oOCcAn.png" />
              {% endif %}
            <div class="col-10"><h5>{{post.user}}</h5>Posted on:{{ post.date }}</div>
          </div>

        <h3 class="card-title"><strong>{{ post.title }}</strong></h3>
        <p>{{ post.content|linebreaks }}</p>
        <br>
      </div>
      <div class="col-1">
        {% if user.is_authenticated and user == post.user %}
        <a class="btn btn-warning dropdown-toggle border-warning justify-content-end" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          
        </a>
        <ul class="dropdown-menu border-warning" aria-labelledby="dropdownMenuLink">
          <li><a class=" dropdown-item border-warning" href="{% url 'posts_update' post.id %}">Edit Post</a></li>
          <li><a class=" dropdown-item border-warning" href="{% url 'posts_delete' post.id %}">Delete Post</a></li>
        </ul>
        {% endif %}

      </div>

<!-- like/unlike post -->
<form action="{% url 'like_post2' post.pk %}" method="POST">
  {% csrf_token %}
  {% if liked %}
  <button class="btn border-warning btn-warning" type="submit" name="post_id" value="{{ post.id }}">
    💔
  </button>
  {% else %}
  <button class="btn border-warning btn-warning" type="submit" name="post_id" value="{{ post.id }}">
    ❤️
  </button>
  {% endif %}
  {{ post.total_likes }}
</form>
</div>
<hr>
     <!-- Display Comment Form -->
     <button class="btn toggle-comment-form btn-warning" data-post-id="{{ post.id }}">
      💬
    </button>
     <div class="p-2" id="comment-form-container-{{ post.id }}" style="display: none;">
       <form method="POST" action="{% url 'comments_create2' post.id%}">
         {% csrf_token %}
         {{ form.as_p }}
         <button class="btn border-warning btn-warning" type="submit">post comment</button>
       </form>
     </div>

      <div class="card-content" >
      <h4>Comments...</h4>
      {% if not post.comments.all %}
        no comments yet...
      {% else %}
        {% for comment in post.comments.all %}
        <div class="card border-warning p-2">
          <div class="card-content row">
            <div class="col-10">
              <div class="row">
                {% if comment.user.profile.profile_pic %}
                <img class="col-1 img-fluid p-0 rounded-circle border border-2 border-warning" src="{{ comment.user.profile.profile_pic }}" />
                  {% else %}
                  <img class="col-1 img-fluid p-0 rounded-circle border border-2 border-warning" src="https://i.imgur.com/0oOCcAn.png" />
                  {% endif %}
                <div class="col-11"><h5>{{comment.user}}</h5>{{ comment.date_added }}</div>
              </div>
              <p></p>
              <p>{{ comment.text }}</p>
            </div>
            <div class="col-2 d-flex justify-content-end">
              {% if user.is_authenticated and user == comment.user %}
              <a href="{% url 'comments_delete2' post.id comment.id %}">
                <button type="button" class="close btn border-warning btn-warning" aria-label="Close">
                  <span>X</span>
                </button>
              </a>
              {% endif %}
            </div>
          </div>
          </div>
        {% endfor %}
      {% endif%}
    </div>

    </div>
    <script>
      $(document).ready(function() {
        $('.toggle-comment-form').click(function() {
          var postId = $(this).data('post-id');
          $('#comment-form-container-' + postId).toggle();
        });
        });
        </script>
{% endblock %}