{% extends 'base.html' %}
{% block content %}

<h1 class="text-center">Post Details</h1>
    <div class="card">
      <div class="card-content">
        <h3 class="card-title">{{ post.title }}</h3>
        <h6>{{ post.date }}</h6>
        <p>{{ post.content|linebreaks }}</p>
      </div>
      <div class="card-action">
        {% if user.is_authenticated and user == post.user %}
        <a href="{% url 'posts_update' post.id %}" class="btn btn-outline-warning" >Edit</a>
        <a href="{% url 'posts_delete' post.id %}" class="btn btn-outline-warning">Delete</a>
        {% endif %}
      </div>

     <!-- Display Comment Form -->
     <button class="toggle-comment-form" data-post-id="{{ post.id }}">Toggle Comment Form</button>
     <div id="comment-form-container-{{ post.id }}" style="display: none;">
       <form method="POST" action="{% url 'comments_create' post.pk%}">
         {% csrf_token %}
         <h8>Add Comment:</h8>
         {{ comment_form.as_p }}
         <button type="submit">post comment</button>
       </form>
     </div>

      <div class="card-content" >
      <h4>Comments...</h4>
      {% if not post.comments.all %}
        no comments yet...
      {% else %}
        {% for comment in post.comments.all %}
          <strong><h5>{{comment.user}}</h5></strong>
          <p>{{ comment.date_added}}</p>
          <p>{{ comment.text}}</p>
          <hr>
        {% endfor %}
      {% endif%}
    </div>

    </div>
    <script>
      $(document).ready(function() {
        $('.toggle-comment-form').click(function() {
          var postId = $(this).data('post-id');
          $('#comment-form-container-' + postId).toggle();
        });
        });
        </script>
{% endblock %}